@using PetShop.Model
@model PetShop.BLL.Cart
@{ 
    Layout = null;
}
<HTML>
<HEAD>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="~/Styles.css">
</HEAD>
<body>
    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%">
        <TBODY>
            <tr valign="top">
                <td>
                    @Html.Partial("NavBar")
                    <blockquote>
                        <form method="post">
                            <table cellpadding="0" cellspacing="0">
                                <TBODY>
                                    <tr valign="top">
                                        <td class="cart">
                                            <span class="title">Shopping Cart</span><p>
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr class="gridHead">
                                                        <td>&nbsp;</td>
                                                        <td>Item ID</td>
                                                        <td>Product</td>
                                                        <td>In Stock</td>
                                                        <td>Price</td>
                                                        <td>Quantity</td>
                                                        <td>Subtotal</td>
                                                    </tr>
                                                    @foreach (CartItemInfo item in Model.GetCartItems())
                                                    {
                                                        <tr class="gridItem">
                                                            <td><a href="~/PetShop/RemoveItem?itemId=@item.ItemId"><img src="~/Images/buttonRemove.gif" /></a></td>
                                                            <td>@item.ItemId</td>
                                                            <td><a href='~/PetShop/ItemDetails?itemId=@item.ItemId'>@item.Name</a></td>
                                                            <td>@item.InStock </td>
                                                            <td class="num">@item.Price</td>
                                                            <td>@Html.TextBox("Quantity", item.Quantity)</td>
                                                            <td class="num">@item.Subtotal</td>
                                                        </tr>

                                                    }
                                                    <tr class="gridFoot">
                                                        <td><input type="submit" name="action" imageurl="~/Images/buttonUpdate.gif" alternatetext="Update" border="0" value="Update" /></td>
                                                        <td class="num" colspan="6"><span class="label">Total:</span>@Model.Total.ToString("c")</td>
                                                    </tr>
                                                </table>
                                            <p><a id="link" runat="server" href="~/PetShop/Checkout"><img src="~/Images/buttonCheckout.gif" alt="Proceed to Checkout" border="0"></a></p>
                                        </td>
                                        <td>
                                            <controls:viewstatepager id="favorites" runat="server" pagesize="3" onpageindexchanged="FavoritesPageChanged" visible="false">
                                                <headertemplate>
                                                    <span class="title">Pet Favorites</span>
                                                    <p>
                                                        <table cellpadding="0" cellspacing="0">
                                                            <tr class="gridHead">
                                                                <td>Shop for more of your favorite pets here.</td>
                                                            </tr>
                                                            @if (ViewBag.Favorite != null)
                                                            {
                                                                foreach (var item in ViewBag.Favorite)
                                                                {
                                                                    <tr class="gridItem">
                                                                        <td>
                                                                            <a href='Items?productId=<%# DataBinder.Eval(Container.DataItem, "Id") %>'>
                                                                                <%# DataBinder.Eval(Container.DataItem, "Name") %>
                                                                                (<%# DataBinder.Eval(Container.DataItem, "Id") %>)
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }

                                                            }

                                                        </table>
                            </TD></TR></TBODY></TABLE></FORM></BLOCKQUOTE></TD></TR>
    <tr valign="bottom">
        <td>
            @Html.Partial("Banner")
        </td>
    </tr>
    </TBODY></TABLE>
</body>
</HTML>
